* {
  margin: 0;
  padding: 0;
  background-color: rgb(42, 42, 42);
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P',
    cursive;
  overflow-y: hidden;
}

nav {
  margin: 10px;
}

#about-btn {
  color: white;
  padding: 10px;
  text-transform: capitalize;
  background-color: #000;
  font-size: 1.2em;
}

#about-btn:hover {
  cursor: pointer;
}

heading h1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  color: white;
}

heading h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

#wrapper {
  height: 600px;
  background-color: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
}

#game-screen {
  width: 600px;
  height: 600px;
  background-color: #fff;
  padding-top: 50px;
  position: relative;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#character {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../images/bird.png);
  background-size: cover;
  background-color: transparent;
}

.block {
  width: 50px;
  position: absolute;
  background-image: url(../images/stone2.jpg);
  border: #000 solid 4px;
}

#about-screen {
  background-color: #000;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: #bda964 4px solid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

p {
  margin: 20px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #000;
  font-size: 1.4em;
}

#start-screen {
  background-color: #0c5a9d;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: #bda964 4px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#start-screen h2 {
  background-color: #0c5a9d;
}

#game-over-screen {
  background-color: #000;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border: #bda964 4px solid;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-btn,
.reset-btn,
.close-btn {
  width: 100px;
  color: white;
  margin-top: 50px;
  min-height: 30px;
  font-size: large;
  font-weight: bold;
}

.start-btn:hover,
.reset-btn:hover,
.close-btn:hover {
  cursor: pointer;
}

h2 {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-size: 2em;
  ;
}

footer {
  background-color: rgb(42, 42, 42);
  width: 100%;
  height: 100px;
  text-align: center;
}

footer h6 {
  color: #fff;
  font-size: 16px;
  padding-top: 40px;
  margin-bottom: 30px;
}
